mixin smallLink(text, data)
	.small-link
		span.small-link__text #{text}
		svg.small-link__svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 66 13")
			path(fill="#FFF" fill-rule="nonzero" d="M11.668 12.621L.031 7.488V5.812L11.668 0v2.813L3.652 6.527l8.016 3.293v2.801zm42-2.8l8.016-3.294-8.016-3.715V0l11.637 5.813v1.675l-11.637 5.133v-2.8z")














//- mixin button-primary(text, link, small)
//-   if small
//-     a.button.button-primary.button-primary--small(href=link)&attributes(attributes) #{text}
//-   else
//-     a.button.button-primary(href=link)&attributes(attributes) #{text}